In [10]:
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

df = pd.read_excel( 'cars.xls' )
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [19]:
scale = StandardScaler()

X = df[['Mileage', 'Cylinder', 'Liter', 'Doors']]
Y = df['Price']

X[['Mileage', 'Cylinder', 'Liter', 'Doors']] = scale.fit_transform(X[['Mileage', 'Cylinder', 'Liter', 'Doors']].as_matrix())

# print( X )

est = sm.OLS( Y, X ).fit()

est.summary()

C:\Users\swapnil.shinde\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     13.57
Date:                Sat, 15 Sep 2018   Prob (F-statistic):           1.04e-10
Time:                        20:07:48   Log-Likelihood:                -9207.1
No. Observations:                 804   AIC:                         1.842e+04
Df Residuals:                     800   BIC:                         1.844e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mileage    -1275.2178    805.476     -1.583      0.114   -2856.315     305.879
Cylinder    5251.9235   2915.177      1.802      0.072    -470.375     1.1e+04
Liter        350.1174   2923.691      0.120      0.905   -5388.894    6089.128
Doors      -1376.1100    839.085     -1.640      0.101   -3023.178     270.958
==============================================================================
Omnibus:                      160.986   Durbin-Watson:                   0.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              265.567
Skew:                           1.291   Prob(JB):                     2.15e-58
Kurtosis:                       4.125   Cond. No.                         7.13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

The table of coefficient gives us the values to plug into an equation of form:

B0 + B1*Mileage + B2*Cylinder + B3*Liter + B4*Doors

But in given example its pretty clear that Cylinders are more important than Doors

In [25]:
Y.groupby( df.Cylinder ).mean()

Cylinder
4    17862.564874
6    20081.395841
8    38968.043180
Name: Price, dtype: float64

In [27]:
# Doors aren't causing much difference cost

Y.groupby( df.Doors ).mean()

Doors
2    23807.135520
4    20580.670749
Name: Price, dtype: float64